CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_8dev_jalapeno=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_asus_map-ac2200=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_asus_rt-ac58u=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_asus_rt-acrh17=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_avm_fritzbox-4040=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_meraki_mr33=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_compex_wpj428=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_engenius_eap1300=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_glinet_gl-b1300=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_hugo_ac1200=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_linksys_ea6350v3=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_netgear_ex6100v2=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_netgear_ex6150v2=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_openmesh_a42=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_openmesh_a62=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_p2w_r619ac=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_p2w_r619ac-128m=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_qcom_ap-dk01.1-c1=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_qcom_ap-dk04.1-c1=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_zyxel_nbg6617=y
CONFIG_TARGET_DEVICE_ipq40xx_DEVICE_zyxel_wre6606=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_PACKAGE_BaiduPCS-Web=y
# CONFIG_PACKAGE_ar3k-firmware is not set
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_ariang=y
# CONFIG_PACKAGE_ath10k-firmware-qca9887-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9888-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9984 is not set
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
# CONFIG_PACKAGE_fritz-caldata is not set
# CONFIG_PACKAGE_fritz-tffs is not set
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_hd-idle=y
# CONFIG_PACKAGE_ipq-wifi-engenius_eap1300 is not set
# CONFIG_PACKAGE_ipq-wifi-hugo_ac1200 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_ea6350v3 is not set
CONFIG_PACKAGE_ipq-wifi-p2w_r619ac=y
# CONFIG_PACKAGE_ipq-wifi-rt-acrh17 is not set
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_kcptun-client=y
# CONFIG_PACKAGE_kmod-ath3k is not set
# CONFIG_PACKAGE_kmod-bluetooth is not set
# CONFIG_PACKAGE_kmod-crypto-cmac is not set
# CONFIG_PACKAGE_kmod-crypto-ecdh is not set
# CONFIG_PACKAGE_kmod-gpio-beeper is not set
# CONFIG_PACKAGE_kmod-hid is not set
# CONFIG_PACKAGE_kmod-input-core is not set
# CONFIG_PACKAGE_kmod-input-evdev is not set
# CONFIG_PACKAGE_kmod-usb-ledtrig-usbport is not set
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-v2ray-server=y
CONFIG_PACKAGE_luci-app-verysync=y
# CONFIG_PACKAGE_luci-app-xlnetacc is not set
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-v2ray-server-zh-cn=y
CONFIG_PACKAGE_luci-i18n-verysync-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_trojan=y
# CONFIG_PACKAGE_uboot-envtools is not set
CONFIG_PACKAGE_verysync=y
#gogogo
