CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_adslr_g7=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_afoundry_ew1200=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_alfa-network_quad-e4g=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asiarf_ap7621-001=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asiarf_ap7621-nv1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ac57u=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ac65p=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_asus_rt-ac85p=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_buffalo_wsr-1166dhp=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_buffalo_wsr-600dhp=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_xzwifi_creativebox-v1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_dlink_dir-860l-b1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_edimax_rg21s=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1167ghbk2-s=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-1900gst=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_elecom_wrc-2533gst=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_firefly_firewrt=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gehua_ghl-r-001=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gnubee_gb-pc1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gnubee_gb-pc2=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_hiwifi_hc5962=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-ax1167gr=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wn-gx300gr=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iodata_wnpr2600g=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_iptime_a6ns-m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_jcg_jhr-ac876m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_linksys_re6500=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mediatek_ap-mt7621a-v60=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mediatek_mt7621-eval-board=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mikrotik_rbm11g=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mikrotik_rbm33g=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mikrotik_rb750gr3=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mqmaker_witi=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_mtc_wr1201=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_ex6150=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_r6220=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_r6260=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_r6350=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_r6800=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_r6850=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netgear_wndr3700-v5=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_netis_wf-2881=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_lenovo_newifi-d1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_d-team_pbr-m1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_planex_vr500=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_samknows_whitebox-v8=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_storylink_sap-g3200u3=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_telco-electronics_x1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_thunder_timecloud=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_totolink_a7000r=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_tplink_re350-v1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_tplink_re650-v1=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_ubiquiti_edgerouterx=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_ubiquiti_edgerouterx-sfp=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_unielec_u7621-06-16m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_unielec_u7621-06-64m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_wevo_11acnas=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_wevo_w2914ns-v2=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_xiaomi_mir3p=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_xiaomi_mir3g=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_xiaomi_mir3g-v2=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_xiaoyu_xy-c5=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_youhua_wr1200js=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_youku_yk-l2=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_zbtlink_zbt-we1326=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_zbtlink_zbt-we3526=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_zbtlink_zbt-wg2626=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_zbtlink_zbt-wg3526-16m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_zbtlink_zbt-wg3526-32m=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
CONFIG_PACKAGE_UnblockNeteaseMusic=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libhttp-parser=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-verysync=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_luci-i18n-verysync-zh-cn=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_samba36-server=y
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-server=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_v2ray=y
CONFIG_PACKAGE_verysync=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
#gogogo
